In [6]:
number = [1,2,3]
new_list = []
for n in number:
    add_1 = n+1
    new_list.append(add_1)

In [7]:
new_list = []
new_list = [n+1 for n in number]

new_dict = {new_key:new_value for item in list}

new_list = [n+1 for n in number if test]

new_dict = {new_key:new_value for (key, value) in dict.items() if test}

In [8]:
import random
names = ['Alex', 'Beth', 'Caroline']

student_scores = {student:random.randint(1,100) for student in names}

In [9]:
passed_students = {student:score for (student, score) in student_scores.items() if score > 80}

iterating through a pandas dataframe

In [15]:
type(student_scores)

dict

In [1]:
import pandas as pd

In [11]:
student_scores

{'Alex': 90, 'Beth': 67, 'Caroline': 52}

In [19]:
student_dict = {"student":["Angela", "James", "Lily"],
                "score": [56,76,98]
                }

In [20]:
student_df = pd.DataFrame(student_dict)

In [21]:
student_df

  student  score
0  Angela     56
1   James     76
2    Lily     98

In [28]:
for (index, row) in student_df.iterrows():
    print(row[1])

56
76
98

C:\Users\COMPUBROTHER\AppData\Local\Temp\ipykernel_13500\3628923315.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(row[1])